#main {
    padding: 1.5rem;
    max-width: 1200px;
    margin: 1rem;

    align-items: center;
    overflow: hidden;
    display: flex;
}

#main>span {
    display: flex;
    font-size: large;
    flex-direction: column;

    padding: 3rem;
    margin-bottom: 2rem;
}

#main>span>p {
    padding: 0 4rem;
    margin-top: 1rem;
}

#main>span>p:last-child {
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
}

#main>span>p:nth-last-child(2) {
    text-align: center;
    color: #a64ac9;
}

#main h1 {
    margin-bottom: 2rem;

    width: 100%;
    font-size: 3em;
    font-weight: 800;
    text-align: center;

    font-family: "Dancing Script", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#main h1::before {
    content: '¡Novedadad! ';
    color: rgb(187, 0, 255);
}

#main .photos {
    user-select: none;
    -webkit-user-select: none;
    -webkit-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;

    width: 100%;
}

#main>.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main .photos>div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
}

#main .photos>div:nth-child(2) {
    grid-area: 1 / 3 / 3 / 4;
}

#main .photos>div:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
}

#main .photos>div:nth-child(4) {
    grid-area: 3 / 2 / 4 / 4;
}

#main .photos>div:nth-child(2)>img {
    object-position: left;
}

@media (max-width: 700px) {
    #main {
        flex-direction: column-reverse;
    }

    #main>span {
        padding: 2rem;
    }

    #main>span>p {
        padding: 0;
    }
}