#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    #product-list {
        gap: 1rem;
        padding: 1rem;
    }
}

@media (min-width: 1100px) {
    #product-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
.productsArticle {
    width: 100%;
    max-width: 1200px;
}

.productsArticle>details>summary {
    padding: 0;
    margin: 2rem 0;
    font-weight: bold;
    text-align: center;

    display: list-item;
    list-style: none;
    border-bottom: 2px solid var(--secondary-color);

    cursor: pointer;
}

.productsArticle>details[open]>summary {
    color: var(--primary-color);
    border-bottom: 2px solid var(--accent-color);
}

.productsArticle>details,
.productsArticle>summary {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

details {
    /*interpolate-size: allow-keywords;*/

    &::details-content {
        transition:
            block-size 500ms,
            content-visibility 500ms allow-discrete;
        overflow: hidden;
        block-size: 0;
        /* Or also:  height:0; */
    }

    &[open]::details-content {
        block-size: auto;
        /* Or also:  height:auto; */
    }
}