---
// https://docs.astro.build/basics/astro-components/

import Information from "@components/about/Information";
import About from "@components/about/About";
import Layout from "@/props/Layout.astro";

import { ViewTransitions } from "astro:transitions";

import {
	frontmatter as about,
	Content as AboutPost,
} from "@/pages/data/AboutContent.md";

import {
	frontmatter as notice,
	Content as NoticePost,
} from "@/pages/data/NoticeContent.md";

import Snowflake from "@/props/christmas/Snowflake.astro";
---

<Layout>
	<Snowflake />

	<Information
		title={notice.title}
		slogan={notice.slogan}
		announcement={notice.announcement}
		transition:animate="slide"
	>
		<NoticePost />
	</Information>

	<h1 class="separator" id="about"># Descuento temporal</h1>

	<img id="discountImage" src="images/discount.jpg" />

	<h1 class="separator" id="about"># Sobre mí</h1>

	<About paragraph={about.paragraph} transition:animate="slide">
		<AboutPost />
	</About>
</Layout>

<ViewTransitions />
