---
import Information from "@components/about/Information";
import About from "@components/about/About";
import Layout from "@/props/Layout.astro";

import { ViewTransitions } from "astro:transitions";

import {
	frontmatter as about,
	Content as AboutPost,
} from "@/pages/data/AboutContent.md";

import {
	frontmatter as notice,
	Content as NoticePost,
} from "@/pages/data/NoticeContent.md";
import NoticeBoard from "@components/NoticeBoard";
---

<Layout>
	<NoticeBoard client:only="react">
		<div id="noticeboard" class="noticeboard">
			<img
				src="images/noticeboard_0.webp"
				alt="Últimas novedades en la tienda."
			/>
			<img
				src="images/noticeboard_1.webp"
				alt="Últimas novedades en la tienda."
			/>
		</div>
	</NoticeBoard>

	<Information
		title={notice.title}
		slogan={notice.slogan}
		announcement={notice.announcement}
		transition:animate="slide"
	>
		<NoticePost />
	</Information>

	<h1 class="separator" id="about"># Sobre mí</h1>

	<About paragraph={about.paragraph} transition:animate="slide">
		<AboutPost />
	</About>
</Layout>

<ViewTransitions />
